body{
  background-image: url(../img/ma-equipo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
}
*{
  font-family: 'Poppins', sans-serif;
}

.formulario {
    background: rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 10px;
    color: white;
    border: 2px solid #fff;
    box-shadow: inset 0 0 5px #00CC99, 0 0 10px #00CC99;
}

.form-control {
    background: rgba(0, 0, 0, .3);
    transition: 0.5s ease-in;
    outline: none;
    color: white;
    border: 2px solid #fff;
}





/*
  0 0 30px rgba(0, 0, 0, 0.568);
*/

.ingresar:hover {
    color: white;
}

.olvide {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
}

.olvide:hover {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    cursor: pointer;
}

.olvide1 {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    font-size: 20px;
    font-weight: 700!important;
    /* border: 2px solid white; */
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .5);
}

.olvide1:hover {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    cursor: pointer;
}



        .cont-reloj{
            margin: 170px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 220px;
            width: 40%;
            border: 6px solid #fff;
            background: #e5e5e5;
            box-shadow:  -13px -13px 13px #fff, 
             15px 15px 15px rgba(13,39,80,.26),
            inset -13px -13px 13px #fff, 
            inset 15px 15px 15px rgba(13,39,80,.26);
             border-radius:30px;
             font-weight: bold;
             font-family: sans-serif;
             color: #00CC99;
        }
        .reloj{
          font-size:4.7em;  
        }
        .datos{
            font-size: 2.5em;
            font-family: 'Courier New', Courier, monospace;
        }

@media only screen and (max-width: 1200px) {
  .cont-reloj{
    width:50%;
  }
}

@media only screen and (max-width: 960px) {
  .cont-reloj{
    width:60%;
  }
}
@media only screen and (max-width: 870px) {
  .cont-reloj{
    width:65%;
  }
}
@media only screen and (max-width: 400px) {
  .cont-reloj{
    width:85%;
    height:150px;
  }
   .reloj{
            font-size:2.8em;  
        }
  .datos{
    font-size:1.3em
    }
}

.asistencia{
  background-color: rgba(255, 255, 255, 0);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.asistencia__contend{
  background-color: #1e3c8fb5;
  width: 700px;
  height: 370px;
  border-radius: 30px;
  display: flex;
  zoom: 1.2;
}
.asistencia__campos{
  width: 100%;
}
.asistencia__tittle{
  margin: 30px 100px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 1000;
  color: #ffffff;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}
.time-asistencia2{
  font-size: 0.65em;
  font-weight: 400;
  color: #fff;
}
.time-asistencia3{
  font-size: 0.65em;
  font-weight: 400;
  font-weight: 400;
  color: #fff;
}
.asistencia-imput{
  width: 200px;
}
.asistencia__form{
  display: flex;
  margin: 0;
  justify-content: center;
}
.asistencia-imput{
  background-color: #ffffff;
  color: rgb(114, 114, 114);
  border: none;
  height: 30px;
  font-size: 1.3em;
  text-align: center;
  border-radius: 30px;
  font-weight: 400;
}
.asistencia-imput:focus{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
}
.asistencia-imput:hover{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.login-btn__asistencia{
  background-color: #5eb130;
  color: #fff;
  padding: 0;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 20px;
}
.remove__imput{
  display: none;
}
.bienvenida{
  text-align: center;
  font-weight: 1000;
  color: #ffffff;
}
.success__alert{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 1000;
  color: #000000;
}
.name__lert{
  width: 100%;
  white-space: nowrap;
}
.message{
  color: #fdfdfd;
  font-size: 1.4em;
}
.aisistencia__frace2{
  background-color: #304b9c8c;
  color: #fff;
  margin: 0;
  padding: 20px;
  border-radius: 20px 0 0 20px;
  font-weight: 800;
}
.tittle__error{
  background-color: rgba(255, 255, 255, 0);
}
.select__imput{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../images/down.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right 15px center;
  padding-right: 20px;
  width: 200px;
}
.code__imput::placeholder {
  color: #777777;
  font-size: 14px;
  font-weight: 200;
  font-family: Arial, sans-serif;
}
.login-time_asistencia{
  margin-bottom: 0;
  margin-bottom: 10px;
}

/*Ingreso*/
.asistencia__contend2{
  background-color: #ffffff87;
}
.registro__exitoso{
  margin-top: 15px;
  font-weight: 400;
  font-size: 0.8em;
  color: #fff;
}
.asistencia__frace-time{
  display: flex;
  justify-content: space-evenly;
}
.aistencia__img-frace{
  width: 180px;
  height: 180px;
}
.asistencia__frace{
  background-color: #5eb130;
  border-radius: 30px;
  width: 600px;
  font-size: 25px;
  padding: 5px 10px;
  margin: 0;
  position: relative;
  top: -10px;
  left: 10px;
}
.asistencia__frace-on{
  margin: 0;
  margin: 0;
}
.frase{
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.btn_perfil-estadisticas{
  font-size: .8em;
  font-weight: 400;
  outline: none;
  border: none;
  border-radius: 30px;
  width: 200px;
  position: relative;
  transition: .3s;
  top: -20px;
  color: #1e3d8f;
  margin: 10px;
}
.btn_perfil-estadisticas:hover{
  background-color: #5eb130;
}
.form__ver-perfil{
  padding-top: 10px;
}
.asistencia-sep{
  margin: 0;
  padding: 0;
}
.volver-btn{
  background-color: #5eb130;
  color: #fff;
  position: relative;
  left: 10px;
}
.frase__down{
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
#clock {
  font-size: 25px;
  text-align: center;
  color: #fff;
}
#stopButton {
  font-size: 20px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img_alert{
  width: 100px;
}
